@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Montserrat';
    src: url('/src/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@layer base {
    body {
        @apply bg-black text-white leading-relaxed;
        font-family: 'Montserrat', sans-serif;
    }

    a {
        @apply text-amber-500;
    }

    a:hover {
        @apply text-amber-400;
    }

    .group a {
        @apply text-amber-100 underline;
    }

    html {
        scroll-behavior: smooth;
    }
}